@font-face {
    font-family: "MYRIADPRO-REGULAR";
    src: url("../FONTS/MYRIADPRO-REGULAR.OTF");
  }

a.main-logo:link {
    text-decoration: none;
    }
      
a.main-logo:visited {
    text-decoration: none;
}
      
a.main-logo:active {
    text-decoration: none;
}

.main-logo {
    font-family: 'Roboto';
    font-size: 80px;
    margin-top: -55px;
    padding-left: 98px;
    color: black;
}
.main-logo.blue-letters {
    color: #4BCAFF;
    padding-left: 0px;
}

.upper-container {
display: flex;
flex-direction: row;
justify-content: center;
list-style-type: none;
padding: 0px;
margin-left: 98px;
width: 1280px;
height: 72px;
background: #35444F; 
font-family: 'Roboto'; 
font-size: 24px;
}

.flex-item {
  display:inline-flex;
  width: auto;
  height: 72px;
  padding: 20px 41px;
  color: white;
  text-align: center;
  border-left: 1px solid #ffffff;
}

.flex-item.right {
    display: inline block;
    border-right: 1px solid #ffffff;
} 

a.flex-item:link {
    text-decoration: none;
    color: white;
    }
      
a.flex-item:visited {
    text-decoration: none;
    color: white
    }
      
a.flex-item:active {
    background: #ffffff;
    text-decoration: none;
    color: white
    }
a.flex-item:hover {
    box-sizing: border-box;
    display: inline-block;
    width: auto; 
    height: 72px;
    padding: 20px 41px;
    background-color: #222F3A;
    border-bottom: 3px solid #222F3A;
      }

.context {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   width: 1280px;
  height: 500px;
  margin-left: 98px;
  margin-top: 20px;
  position: absolute;
}

.aside-container {
        display: flex;
        flex-basis: 25%;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;
        list-style-type: none;
        width: 344px;
        height: 395px;
        background: white;
        font-family: 'Roboto'; 
        font-size: 27px;
        border: 1px solid #495863;
        ;
}

.side-item {
            display: inline-flex;
            box-sizing: border-box;
            height: 20%;
            padding: 23px 50px;
            text-decoration: none;
            color: #495863;
            background:#ffffff;
            text-align: left;
}

a.side-item:link {
    color: #495863; 
    text-decoration: none;
      }
      
a.side-item:visited {
    color: #495863; 
    text-decoration: none;
    }
      
a.side-item:active {
    color: #495863; 
    background: #DBDBDB;
    text-decoration: none;  
    }

a.side-item:hover {
    box-sizing: border-box;
    display: inline-block;
    height: 20%;
    color: black;
    background-color: #DBDBDB;
    padding-left: 77px;
      }

.right-picture {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 885px;
    margin-left: 390px;
height: 529px;
border: 1px solid #35444f;
position: absolute;
justify-content: center;
   
}

img:hover {
    transform: scale(1.3);
    /* transform: scaleY(1.1); */
}

.lorem {
    display: flex;
    flex-direction: column;
    order: 1;
    align-items:center;
    box-sizing: border-box;
    width: 885px;
    height: 120px;
    margin-left: 390px;
    margin-bottom: 15px;
    padding-top: 160px;
    background: white;
    font-family: 'Roboto'; 
    font-size: 18px;
    color:#2C2C2C;
    ;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style-type: none;
    padding-top: 25px;
    padding-left: 0px;
    margin-left: 98px;
    margin-top: 837px;
    text-align: center;
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    
    }

    .footer-item {
        display:inline-flex;
        font-family: 'Roboto'; 
        text-decoration: none;
    font-size: 28px;
    color: #0C1927;
    padding-top: 6px;
}

.copyright   {
    font-family: 'Roboto'; 
    font-size: 24px;
    color: #010101;
    padding-top: 6px;
    padding-right: 7px;
    padding-left: 77px;

}

a.footer-item:hover {
  /*   font-family: "MYRIADPRO-REGULAR"; */
    font-size: 28px;
    color: #3181A6; 
    /* letter-spacing: 0.7px; */
    text-decoration: underline;  
    }